---
import Layout from "@layouts/Layout.astro";
import Header from "@components/Header.astro";
import Footer from "@components/Footer.astro";
import Tag from "@components/Tag.astro";
import Datetime from "@components/Datetime";
import slugify from "@utils/slugify";
import type { MarkdownInstance } from "astro";
import type { Frontmatter } from "@types";
import "../styles/linkcard.css";

export interface Props {
  post: MarkdownInstance<Frontmatter>;
}

const { frontmatter, Content } = Astro.props.post;

const { title, author, description, ogImage, publishedAt, tags } = frontmatter;

const ogUrl = new URL(ogImage ? ogImage : `${title}.svg`, Astro.url.origin)
  .href;
---

<Layout title={title} author={author} description={description} ogImage={ogUrl}>
  <Header />
  <div class="mx-auto flex w-full max-w-3xl justify-start px-2">
    <button
      class="focus-outline mt-8 mb-2 flex hover:opacity-75"
      onclick="history.back()"
    >
      <svg xmlns="http://www.w3.org/2000/svg"
        ><path
          d="M13.293 6.293 7.586 12l5.707 5.707 1.414-1.414L10.414 12l4.293-4.293z"
        ></path>
      </svg><span>Go back</span>
    </button>
  </div>
  <main id="main-content">
    <h1 class="post-title">{title}</h1>
    <Datetime datetime={publishedAt} size="lg" className="my-2" />
    <article id="article" role="article" class="prose mx-auto mt-8 max-w-3xl">
      <Content />
    </article>

    <ul class="tags-container">
      {tags.map(tag => <Tag name={tag} />)}
    </ul>

    <div class="hatena-star-container"></div>

    <div class="social-share">
      <!-- Hatena bookmark -->
      <div class="social-share-hatena">
        <a
          href="https://b.hatena.ne.jp/entry/"
          class="hatena-bookmark-button"
          data-hatena-bookmark-layout="vertical-normal"
          data-hatena-bookmark-lang="ja"
          title="このエントリーをはてなブックマークに追加"
        >
          <img
            width="20"
            height="20"
            src="https://b.st-hatena.com/images/v4/public/entry-button/button-only@2x.png"
            alt="このエントリーをはてなブックマークに追加"
            style="border: none;"
          />
        </a>
        <script
          type="text/javascript"
          src="https://b.st-hatena.com/js/bookmark_button.js"
          charset="utf-8"
          async="async"
        ></script>
      </div>

      <!-- Facebook share -->
      <div class="social-share-facebook">
        <div id="fb-root"></div>
        <script>
          (function (d, s, id) {
            var js,
              fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) return;
            js = d.createElement(s);
            js.id = id;
            js.src =
              "https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v3.0";
            fjs.parentNode.insertBefore(js, fjs);
          })(document, "script", "facebook-jssdk");
        </script>
        <div
          class="fb-share-button"
          data-href={Astro.url}
          data-layout="box_count"
          data-size="small"
        >
        </div>
      </div>

      <!-- Twitter share -->
      <div class="social-share-twitter">
        <a
          href="https://twitter.com/share?ref_src=twsrc%5Etfw"
          class="twitter-share-button"
          data-related=""
          data-lang="ja"
          data-dnt="true"
          data-show-count="false">Tweet</a
        >
        <script
          async
          src="https://platform.twitter.com/widgets.js"
          charset="utf-8"
        ></script>
      </div>
    </div>
  </main>
  <Footer />
</Layout>

<style>
  main {
    @apply mx-auto w-full max-w-3xl px-4 pb-12;
  }
  .post-title {
    @apply text-2xl font-semibold text-skin-accent;
  }
  .tags-container {
    @apply my-6;
  }
  .hatena-star-container {
    @apply mb-6;
  }
  .social-share {
    @apply flex gap-2;
  }
</style>

<script type="text/javascript" src="//s.hatena.ne.jp/js/HatenaStar.js"></script>
<script type="text/javascript">
  Hatena.Star.SiteConfig = {
    entryNodes: {
      "main#main-content": {
        uri: "window.location",
        title: "h1",
        container: "div.hatena-star-container",
      },
    },
  };
</script>
